API_ID=24395647
API_HASH=0aa759ca1e37cf5efd89348df8b01ff3
BOT_TOKEN=7693545148:AAFwup45Pkyt0-LIORAUaCsz-GrN6ttDjGs
LOG_GROUP_ID=-1002852818663
MONGO_DB_URI=mongodb+srv://ajay211st:vish123@musicbot.e8zz328.mongodb.net/?retryWrites=true&w=majority&appName=musicbot
OWNER_ID=7850496630
STRING_SESSION=BQF0P38AQUAB2oqwtgVS08_Y0AAHMZj7dwa_QtSfBDghCXfY456nOXi3WLG1bX_S0ESzCO6Ktgm8dzKXV6DCwuIK1BXCWhQ96B2gucUH9EsMgjJTUGuG2X3lfajwVL4-x-h93M3_uF62ByV8luVdbhICnN_JsFwn2qzfQd0vglJWrHIqhRblXynG-FFY5xUDnnAneGeu6c7FlOVqMS64jsGNv1yklHAMOe355SjmZXEOHWuLbwssbEyynqbPUbkYmVsyeB_fzkuSrUql2f3g-uWbmBILKyL7bYEiIlu0um_2XMzA0O0didGFOGKb2jz2PqGBFiNkm-fgfwCt6lfvi3ZwsEKIngAAAAHT7RJ2AA 
API_KEY=30DxNexGenBotsffb036






