API_ID=24395647
API_HASH=0aa759ca1e37cf5efd89348df8b01ff3
BOT_TOKEN=7693545148:AAEYuqqgLxLQpT-nHgnG91VgrflqYYiNpac
LOG_GROUP_ID=-1002852818663
MONGO_DB_URI=mongodb+srv://ajay211st:vish123@musicbot.e8zz328.mongodb.net/?retryWrites=true&w=majority&appName=musicbot
OWNER_ID=7850496630
STRING_SESSION=BQF0P38AII8o5HJ5LHRCxJYNk_U-vLC0dbHJSn7nYb55jm2tZp6IKgHy-1sUR4FxhKUCGdOkkdzXYprvd0tjeX-n3_tLJhdnd6GaOEJJWKCZ7Dz5OGWpLQui3RffCl4M4TfIUkp_OwG_410MuOa2lmN2aPMThZ2SJme3BJJ-SNybfzzRwCxcrd2GwMfgnT18i-Q8f_80Z0gI4Hjw2fuAm_j60AXawX5Q8sH7xlavpWwmg_F9yulF86e2Lc8F5RqpX_lbpmbGlxEFDb5eb0pJdqjq_CY8HWFagsbJm6n_ioXQ9-cWutOEM6DS0RTDx5OuBsTJacN74gKCizWrqx05xGvLAwHE4gAAAAHT7RJ2AA 
API_KEY=30DxNexGenBotsffb036

